*/target/*
*/.settings/*
*.classpath
*.mymetadata
*.project
*/bin/*
*class*

target
node
node_modules
.idea
*.iml
.classpath
.project
.settings
.tmp
.merge_file*
.sass-cache
.DS_Store
src/main/webapp/dist
.gradle
build
/bin/
admin/src/main/webapp/ATTACHMENT
